### ML_Assignment

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Get training data
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header = None)

In [3]:
#Get test data
test_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test', skiprows = 1, header = None)

In [4]:
#Display first 5 rows of training dataframe
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
#Display first 5 rows of test dataframe
test_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [6]:
col_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 
              'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
             'income']

In [7]:
train_set.columns = col_labels
test_set.columns = col_labels

In [8]:
train_set.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
test_set.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [10]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [11]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
age               16281 non-null int64
workclass         16281 non-null object
fnlwgt            16281 non-null int64
education         16281 non-null object
education_num     16281 non-null int64
marital_status    16281 non-null object
occupation        16281 non-null object
relationship      16281 non-null object
race              16281 non-null object
sex               16281 non-null object
capital_gain      16281 non-null int64
capital_loss      16281 non-null int64
hours_per_week    16281 non-null int64
native_country    16281 non-null object
income            16281 non-null object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

In [12]:
train_set.income.unique()

array([' <=50K', ' >50K'], dtype=object)

In [13]:
train_set.income = train_set.income.map({' <=50K':0, ' >50K':1}).astype(int)

In [14]:
train_set.income.unique()

array([0, 1], dtype=int64)

In [15]:
test_set.income.unique()

array([' <=50K.', ' >50K.'], dtype=object)

In [16]:
test_set.income = test_set.income.map({' <=50K.':0, ' >50K.':1}).astype(int)

In [17]:
test_set.income.unique()

array([0, 1], dtype=int64)

In [18]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    32561 non-null object
income            32561 non-null int32
dtypes: int32(1), int64(6), object(8)
memory usage: 3.6+ MB

In [19]:
categorical = train_set.dtypes[train_set.dtypes == 'object'].index
categorical

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country'],
      dtype='object')

In [22]:
train_set.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456,0.240810
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429,0.427581
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [23]:
#Only categorical
train_set.describe(include=['O'])

,workclass,education,marital_status,occupation,relationship,race,sex,native_country
count,32561,32561,32561,32561,32561,32561,32561,32561
unique,9,16,7,15,6,5,2,42
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States
freq,22696,10501,14976,4140,13193,27816,21790,29170

In [24]:
train_set.shape

(32561, 15)

In [25]:
test_set.shape

(16281, 15)

In [26]:
train_set.replace(' ?', np.nan).dropna().shape

(30162, 15)

In [27]:
train_df = pd.get_dummies(train_set)

In [28]:
train_df.shape

(32561, 109)

In [29]:
test_df = pd.get_dummies(test_set)
test_df.shape

(16281, 108)

In [30]:
X_train = train_set.drop(['income','workclass','education', 
                          'marital_status', 'occupation', 'relationship', 
                          'race', 'sex', 'native_country'], axis=1)

In [31]:
y_train = train_set.income

In [32]:
X_test = test_set.drop(['income','workclass','education', 
                          'marital_status', 'occupation', 'relationship', 
                          'race', 'sex', 'native_country'], axis=1)

In [33]:
y_test = test_set.income

In [34]:
from xgboost.sklearn import XGBClassifier
model = XGBClassifier()

In [35]:
model.fit(X_train,y_train,  eval_set = [(X_train,y_train),(X_test, y_test)], early_stopping_rounds=20)

[0]	validation_0-error:0.193084	validation_1-error:0.195627
Multiple eval metrics have been passed: 'validation_1-error' will be used for early stopping.

Will train until validation_1-error hasn't improved in 20 rounds.
[1]	validation_0-error:0.193084	validation_1-error:0.195627
[2]	validation_0-error:0.193084	validation_1-error:0.195627
[3]	validation_0-error:0.193084	validation_1-error:0.195627
[4]	validation_0-error:0.186941	validation_1-error:0.185677
[5]	validation_0-error:0.185129	validation_1-error:0.184202
[6]	validation_0-error:0.186941	validation_1-error:0.185677
[7]	validation_0-error:0.185129	validation_1-error:0.184202
[8]	validation_0-error:0.185744	validation_1-error:0.184571
[9]	validation_0-error:0.173305	validation_1-error:0.173085
[10]	validation_0-error:0.17263	validation_1-error:0.172655
[11]	validation_0-error:0.17263	validation_1-error:0.172717
[12]	validation_0-error:0.171923	validation_1-error:0.172164
[13]	validation_0-error:0.171923	validation_1-error:0.172164
[14]	validation_0-error:0.171064	validation_1-error:0.170874
[15]	validation_0-error:0.171064	validation_1-error:0.170874
[16]	validation_0-error:0.170449	validation_1-error:0.170198
[17]	validation_0-error:0.171002	validation_1-error:0.170813
[18]	validation_0-error:0.171033	validation_1-error:0.170751
[19]	validation_0-error:0.17005	validation_1-error:0.169523
[20]	validation_0-error:0.170265	validation_1-error:0.170444
[21]	validation_0-error:0.170234	validation_1-error:0.170137
[22]	validation_0-error:0.169221	validation_1-error:0.170198
[23]	validation_0-error:0.169037	validation_1-error:0.1694
[24]	validation_0-error:0.169037	validation_1-error:0.169707
[25]	validation_0-error:0.168453	validation_1-error:0.169461
[26]	validation_0-error:0.168729	validation_1-error:0.169646
[27]	validation_0-error:0.168484	validation_1-error:0.169523
[28]	validation_0-error:0.168484	validation_1-error:0.169523
[29]	validation_0-error:0.168361	validation_1-error:0.169523
[30]	validation_0-error:0.168361	validation_1-error:0.169584
[31]	validation_0-error:0.16833	validation_1-error:0.169584
[32]	validation_0-error:0.167992	validation_1-error:0.169277
[33]	validation_0-error:0.168146	validation_1-error:0.169277
[34]	validation_0-error:0.168023	validation_1-error:0.169338
[35]	validation_0-error:0.168023	validation_1-error:0.169338
[36]	validation_0-error:0.166887	validation_1-error:0.168417
[37]	validation_0-error:0.166764	validation_1-error:0.168233
[38]	validation_0-error:0.16701	validation_1-error:0.168049
[39]	validation_0-error:0.165474	validation_1-error:0.165899
[40]	validation_0-error:0.165382	validation_1-error:0.166022
[41]	validation_0-error:0.165105	validation_1-error:0.165715
[42]	validation_0-error:0.164553	validation_1-error:0.165285
[43]	validation_0-error:0.164553	validation_1-error:0.165469
[44]	validation_0-error:0.164246	validation_1-error:0.165162
[45]	validation_0-error:0.164368	validation_1-error:0.165223
[46]	validation_0-error:0.164184	validation_1-error:0.1651
[47]	validation_0-error:0.164246	validation_1-error:0.164855
[48]	validation_0-error:0.164276	validation_1-error:0.165039
[49]	validation_0-error:0.163846	validation_1-error:0.164548
[50]	validation_0-error:0.163816	validation_1-error:0.164548
[51]	validation_0-error:0.163662	validation_1-error:0.164425
[52]	validation_0-error:0.163662	validation_1-error:0.164486
[53]	validation_0-error:0.16357	validation_1-error:0.164425
[54]	validation_0-error:0.163447	validation_1-error:0.164486
[55]	validation_0-error:0.163447	validation_1-error:0.164548
[56]	validation_0-error:0.163447	validation_1-error:0.164486
[57]	validation_0-error:0.162925	validation_1-error:0.164056
[58]	validation_0-error:0.163201	validation_1-error:0.164056
[59]	validation_0-error:0.163017	validation_1-error:0.163933
[60]	validation_0-error:0.163017	validation_1-error:0.164179
[61]	validation_0-error:0.162864	validation_1-error:0.163442
[62]	validation_0-error:0.162802	validation_1-error:0.163074
[63]	validation_0-error:0.162495	validation_1-error:0.162766
[64]	validation_0-error:0.162587	validation_1-error:0.163012
[65]	validation_0-error:0.162403	validation_1-error:0.162275
[66]	validation_0-error:0.162403	validation_1-error:0.162275
[67]	validation_0-error:0.162219	validation_1-error:0.162336
[68]	validation_0-error:0.161789	validation_1-error:0.162029
[69]	validation_0-error:0.161881	validation_1-error:0.162152
[70]	validation_0-error:0.161819	validation_1-error:0.161907
[71]	validation_0-error:0.161911	validation_1-error:0.161907
[72]	validation_0-error:0.161881	validation_1-error:0.161907
[73]	validation_0-error:0.161543	validation_1-error:0.161477
[74]	validation_0-error:0.161727	validation_1-error:0.161231
[75]	validation_0-error:0.161604	validation_1-error:0.161231
[76]	validation_0-error:0.161482	validation_1-error:0.161415
[77]	validation_0-error:0.161574	validation_1-error:0.161477
[78]	validation_0-error:0.161113	validation_1-error:0.161169
[79]	validation_0-error:0.160959	validation_1-error:0.161047
[80]	validation_0-error:0.16099	validation_1-error:0.161108
[81]	validation_0-error:0.160837	validation_1-error:0.161047
[82]	validation_0-error:0.160468	validation_1-error:0.161047
[83]	validation_0-error:0.160376	validation_1-error:0.160924
[84]	validation_0-error:0.160161	validation_1-error:0.160801
[85]	validation_0-error:0.1601	validation_1-error:0.161047
[86]	validation_0-error:0.159885	validation_1-error:0.160985
[87]	validation_0-error:0.159117	validation_1-error:0.160678
[88]	validation_0-error:0.158932	validation_1-error:0.160371
[89]	validation_0-error:0.158902	validation_1-error:0.160125
[90]	validation_0-error:0.15884	validation_1-error:0.160064
[91]	validation_0-error:0.158687	validation_1-error:0.159573
[92]	validation_0-error:0.158318	validation_1-error:0.159265
[93]	validation_0-error:0.158073	validation_1-error:0.158651
[94]	validation_0-error:0.157919	validation_1-error:0.158897
[95]	validation_0-error:0.158042	validation_1-error:0.158835
[96]	validation_0-error:0.15795	validation_1-error:0.15902
[97]	validation_0-error:0.157858	validation_1-error:0.15902
[98]	validation_0-error:0.157827	validation_1-error:0.158897
[99]	validation_0-error:0.157765	validation_1-error:0.158713

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [36]:
predicted = model.predict(X_test)

In [37]:
# Import metrics
from sklearn import metrics

metrics.accuracy_score(y_test, predicted)

0.8413488114980652

In [38]:
metrics.confusion_matrix(y_test, predicted)

array([[11998,   437],
       [ 2146,  1700]], dtype=int64)

In [39]:
metrics.classification_report(y_test, predicted)

'              precision    recall  f1-score   support\n\n           0       0.85      0.96      0.90     12435\n           1       0.80      0.44      0.57      3846\n\n   micro avg       0.84      0.84      0.84     16281\n   macro avg       0.82      0.70      0.74     16281\nweighted avg       0.84      0.84      0.82     16281\n'

In [40]:
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

In [41]:
from xgboost import plot_tree
import graphviz
from matplotlib import pyplot as plt

plot_tree(model, num_trees = 0)
fig = plt.gcf()
fig.set_size_inches(300, 100)
fig.savefig('tree.png')